version: 2.1

orbs:
  python: circleci/python@2.1.1

jobs:
  test:
    docker:
      - image: cimg/python:3.11
    steps:
      - checkout

      - run:
          name: Install Poetry
          command: |
            curl -sSL https://install.python-poetry.org | python3 -
            echo 'export PATH="$HOME/.local/bin:$PATH"' >> $BASH_ENV
            source $BASH_ENV

      - restore_cache:
          keys:
            - v1-poetry-cache-{{ checksum "poetry.lock" }}
            - v1-poetry-cache-

      - run:
          name: Install dependencies with Poetry
          command: |
            poetry install --with dev --no-interaction --no-root

      - save_cache:
          key: v1-poetry-cache-{{ checksum "poetry.lock" }}
          paths:
            - ~/.cache/pypoetry

      - run:
          name: Run pytest suite
          command: |
            poetry run pytest -q --disable-warnings --maxfail=1

workflows:
  version: 2
  test:
    jobs:
      - test

